@media screen and (min-width: map-get($breakpoint, Desktop)) {


    .slider {
        width: 450vw;
        height: 350px;
        margin-top: 10px;
        // background-color:red;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
          rgb(0 0 0 / 73%) 0px 16px 10px -10px;
      }
  
      .slider div {
        width: 80vw;
        height: 350px;
        display: block;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
      }
  
      @for $i from 1 through 4 {
        .slider img:hover:nth-child(#{$i}) {
          padding: 0;
          outline: 2px solid;
          transition-duration: 200ms;
        }
      }
  
      .slider img {
        width: 100%;
        height: 100%;
        padding: 4px;
      }
  
      .slider button {
        opacity: 0;
        height: 100%;
        width: 5vw;
        z-index: 1;
      }
  
      .slider button:hover {
        opacity: 1;
        transition: opacity 0.2s ease 0s;
      }
      .slick-dots li button {
        opacity: 1;
      }
  
      .slider .slick-dots li button:before {
        font-size: 10px;
        color:  rgb(150, 158, 171) !important;
        margin-top: 20px;
      }
  
      .slider li.slick-active button:before {
        color: white;
      }
  
      .slider .slick-list {
        overflow: initial;
      }
      .slider .slick-prev {
        left: -75px;
      }
  
      .slider .slick-next {
        right: -75px;
      }












}

@media screen and (min-width: map-get($breakpoint, Tablet)) and (max-width:1023px) {


  .slider {
      width: 450vw;
      height: 250px;
      margin-top: 10px;
      // background-color:red;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
        rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    }

    .slider div {
      width: 90vw;
      height: 250px;
      display: block;
      border-radius: 4px;
      cursor: pointer;
      position: relative;
    }

    @for $i from 1 through 4 {
      .slider img:hover:nth-child(#{$i}) {
        padding: 0;
        outline: 2px solid;
        transition-duration: 200ms;
      }
    }

    .slider img {
      width: 100%;
      height: 100%;
      padding: 4px;
      object-fit:cover;
    }

    .slider button {
      opacity: 0;
      height: 100%;
      width: 5vw;
      z-index: 1;
    }

    .slider button:hover {
      opacity: 1;
      transition: opacity 0.2s ease 0s;
    }
    .slick-dots li button {
      opacity: 1;
    }

    .slider .slick-dots li button:before {
      font-size: 10px;
      color:  rgb(150, 158, 171) !important;
      margin-top: 20px;
    }

    .slider li.slick-active button:before {
      color: white;
    }

    .slider .slick-list {
      overflow: initial;
    }
    .slider .slick-prev {
      left: -75px;
    }

    .slider .slick-next {
      right: -75px;
    }












}


@media screen and  (max-width:map-get($breakpoint, Mobile)) {
  
  .slider {
    width: 450vw;
    height: 250px;
    margin-top: 10px;
    // background-color:red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
      rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  }

  .slider div {
    width: 90vw;
    height: 250px;
    display: block;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
  }

  @for $i from 1 through 4 {
    .slider img:hover:nth-child(#{$i}) {
      padding: 0;
      outline: 2px solid;
      transition-duration: 200ms;
    }
  }

  .slider img {
    width: 100%;
    height: 100%;
    padding: 4px;
    object-fit:initial;
  }

  .slider button {
    opacity: 0;
    height: 100%;
    width: 5vw;
    z-index: 1;
  }

  .slider button:hover {
    opacity: 1;
    transition: opacity 0.2s ease 0s;
  }
  .slick-dots li button {
    opacity: 1;
  }

  .slider .slick-dots li button:before {
    font-size: 10px;
    color:  rgb(150, 158, 171) !important;
    margin-top: 20px;
  }

  .slider li.slick-active button:before {
    color: white;
  }

  .slider .slick-list {
    overflow: initial;
  }
  .slider .slick-prev {
    left: -75px;
  }

  .slider .slick-next {
    right: -75px;
  }

}