@media screen and  (min-width:map-get($breakpoint, Desktop)) {

    .home_header{
        width: 100vw;
        height: 70px;
        background: rgb(9,11,19);
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden; 

        
        .logo{
            width: 100px;
            height: 100px;
            margin-left: 40px;
        }
        .btnlogin{
            background-color: rgba(0,0,0,0.6);
            padding: 15px 25px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            border: 1px solid #f9f9f9;
            border-radius: 4px;
            transition: all 0.2s ease 0s;
            color: white;
            margin-right: 40px;
            cursor: pointer;
            text-decoration: none;
        }
        
        .btnlogin:hover{
            color: black;
            background: white;
        
        }
        
    
    
    
        }
        
    .home_main{
    width: 100vw;
    height: 100vh;
    background-image: url("/login-background.jpg") ;
    background-size: cover;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
   
    
    
    .get{
        max-width: 750px;
        width: 100%;
        height: 350px;
        // border: 1px solid red;
        margin-bottom: 150px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .line_logo_one{
        margin-bottom: 12px;
        max-width: 600px;
        min-height: 1px;
        display: block;
        width: 100%;
    }
    .access{
        width: 100%;
        height: 120px;
    //    background-color: yellow; 
       display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    
    }
    .all{
        font-weight: bold;
        color: #f9f9f9;
        background-color: #0063e5;
        margin-bottom: 12px;
        width: 80%;
        letter-spacing: 1.5px;
        font-size: 18px;
        padding: 16.5px 0;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: all 0.2s ease 0s;
        cursor: pointer;
    }
    .all:hover{
        opacity: 0.8;
        transform: scaleX(1.2);
    }
    .Premier{
        color: hsla(0,0%,95.3%,1);
        font-size: 11px;
        margin: 0 0 24px;
        line-height: 1.5;
        letter-spacing: 1.5px;
        width: 80%;
       text-align: center;
    }
    
    .logo_plus{
        max-width: 600px;
        min-height: 1px;
        display: block;
        width: 100%;
    
    }
    
    
    
    }

  }



   @media screen and  (min-width:map-get($breakpoint, Tablet) ) and (max-width:1023px) {
    header{
        width: 100vw;
        height: 70px;
        background: rgb(9,11,19);
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden; 

        
        .logo{
            width: 100px;
            height: 100px;
            margin-left: 40px;
        }
        .btnlogin{
            background-color: rgba(0,0,0,0.6);
            padding: 15px 25px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            border: 1px solid #f9f9f9;
            border-radius: 4px;
            transition: all 0.2s ease 0s;
            color: white;
            margin-right: 40px;
            cursor: pointer;
            text-decoration: none;
        }
        
        .btnlogin:hover{
            color: black;
            background: white;
        
        }
        
    
    
    
        }
        
       
    
    
    
    
    
    
    .index_main{
    width: 100vw;
    height: 100vh;
    background-image: url("/login-background.jpg") ;
    background-size: cover;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
   
    
    
    .get{
        max-width: 750px;
        width: 100%;
        height: 350px;
        // border: 1px solid red;
        margin-bottom: 150px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .line_logo_one{
        margin-bottom: 12px;
        max-width: 600px;
        min-height: 1px;
        display: block;
        width: 100%;
    }
    .access{
        width: 100%;
        height: 120px;
    //    background-color: yellow; 
       display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    
    }
    .all{
        font-weight: bold;
        color: #f9f9f9;
        background-color: #0063e5;
        margin-bottom: 12px;
        width: 80%;
        letter-spacing: 1.5px;
        font-size: 18px;
        padding: 16.5px 0;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: all 0.2s ease 0s;
    }
    .all:hover{
        opacity: 0.8;
    }
    .Premier{
        color: hsla(0,0%,95.3%,1);
        font-size: 11px;
        margin: 0 0 24px;
        line-height: 1.5;
        letter-spacing: 1.5px;
        width: 80%;
       text-align: center;
    }
    
    .logo_plus{
        max-width: 600px;
        min-height: 1px;
        display: block;
        width: 100%;
    
    }
    
    
    
    }


}


@media screen and  (max-width:map-get($breakpoint, Mobile)) {
    header{
        width: 100vw;
        height: 70px;
        background: rgb(9,11,19);
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden; 

        
        .logo{
            width: 50px;
            height: 50px;
            margin-left: 10px;
        }
        .btnlogin{
            background-color: rgba(0,0,0,0.6);
            padding: 5px 10px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            border: 1px solid #f9f9f9;
            border-radius: 4px;
            transition: all 0.2s ease 0s;
            color: white;
            margin-right: 10px;
            cursor: pointer;
            text-decoration: none;
        }
        
        .btnlogin:hover{
            color: black;
            background: white;
        
        }
        
    
    
    
        }
        
       
    .index_main{
    width: 100vw;
    height: 100vh;
    background-image: url("/login-background.jpg") ;
    background-size: cover;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
   
    
    
    .get{
        max-width: 750px;
        width: 100%;
        height: 320px;
        // border: 1px solid red;
        margin-bottom: 150px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .line_logo_one{
        max-width: 280px;
        min-height: 1px;
        display: block;
        width: 100%;
    }
    .access{
        width: 100%;
        height: 120px;
    //    background-color: yellow; 
       display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    
    }
    .all{
        font-weight: bold;
        color: #f9f9f9;
        background-color: #0063e5;
        margin-bottom: 12px;
        width: 80%;
        letter-spacing: 1.5px;
        font-size: 18px;
        padding: 16.5px 0;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: all 0.2s ease 0s;
    }
    .all:hover{
        opacity: 0.8;
    }
    .Premier{
        color: hsla(0,0%,95.3%,1);
        font-size: 2.8vw;
        margin: 0 0 0px;
        line-height: 1.5;
        letter-spacing: 1.5px;
        width: 80%;
       text-align: center;
    }
    
    .logo_plus{
        max-width: 280px;
        min-height: 1px;
        display: block;
        width: 100%;
    
    }
    
    
    
    }
  }




