@import "./variable";
@import "./App";
@import "./user/User.scss";
@import "./series/Serie.scss";
@import "./movie/movie.scss";






@media screen and  (min-width:map-get($breakpoint, Desktop)) {


  body {
    width: 100vw;
    height:100vh;
    // background: #080808;
    font-family: Avenir-Roman, sans-serif;
    overflow: hidden; 
    // color: white;
  }

* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  /* HTML5 display-role reset for older browsers */
 ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

}

@media screen and  (min-width: map-get($breakpoint, Min-Tablet)) and (max-width:map-get($breakpoint,Max-Tablet)){

  body {
    margin: 0px;
    width: 100vw;
    // height: 120vh;
    height: 100vh;
    overflow: hidden; 
    background: #080808;


   


    
  }
    
}



@media screen and  (max-width:map-get($breakpoint, Mobile)) {
  body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
    background: #080808;

  }
}




