@media screen and (min-width: map-get($breakpoint, Desktop)) {
  .user_header {
    width: calc(100vw - 100px);
    height: 50px;
    background-color: #111114;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    margin-left: 100px;
    position: fixed;
    z-index: 200;

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: white;
      margin-right: 50px;
    }
  }

  .user_main {
    width: 100vw;
    height: 100vh;
    background-image: url("../public/home-background.png");

    overflow-y: scroll;

    /* 
    DEbut de aside
    */

    .user_aside {
      width: 100px;
      height: 100vh;
      //  background-color: red;
      background-color: rgb(17, 17, 20);
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 10;
      margin-top: 0px;
    }

    .user_aside img {
      width: 70px;
      height: 70px;
      transform: translateY(-50px);
    }

    .user_aside nav {
      width: 100%;
      height: 400px;
      // background-color: yellow;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      cursor: pointer;
      z-index: 10;
    }
    .ombre {
      box-shadow: 40vw -11px 166px 38px rgba(0, 0, 0, 0.534) inset;
      -webkit-box-shadow: 40vw -11px 166px 38px rgba(0, 0, 0, 0.534) inset;
      -moz-box-shadow: 40vw -11px 166px 38px rgba(0, 0, 0, 0.534) inset;
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: -1;
      display: none;
      transition: 300ms ease-in-out;
    }

    .user_aside ol {
      width: 100%;
      height: 350px;
      // background-color: red;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    .user_aside li {
      width: 100%;
      // background-color: rgb(0, 38, 255);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
    }

    .user_aside .Navlink {
      opacity: 0.6 !important;
      color: white;
      text-decoration: none;
      position: absolute;
      top: 0px;
      left: 80%;
      font-size: 18px;
      line-height: 28px;
      font-weight: 400;
      display: none;
      transition: 300ms ease-in-out;
      margin-left: 10px;
      // font-family: __Inter_9d0077;
    }
    .user_aside .active {
      color: white;
      opacity: 1 !important;
      transform: scale(1.5) !important;
      font-size: 18px;
      line-height: 28px;
      font-weight: 400;
      position: absolute;
      top: 0px;
      left: 80%;
      text-decoration: none;
      display: none;
      margin-left: 20px;
      transition: 300ms ease-in-out;
    }

    .user_aside .NavSvg {
      width: 1.5rem;
      height: 1.5rem;
      // fill: white;
      color: white;
      border: 0 solid #e5e7eb;
      opacity: 0.6;
      transition: 300ms ease-in-out;
    }
    #SvgActive {
      width: 1.5rem;
      height: 1.5rem;
      fill: white;
      color: white;
      border: 0 solid #e5e7eb;
      opacity: 1;
    }

    @for $i from 1 through 5 {
      .user_aside nav li:hover:nth-child(#{$i}) svg {
        fill: white;
        border: 0 solid #e5e7eb;
        opacity: 1;
        transform: scale(1.8);
      }

      .user_aside nav li:hover:nth-child(#{$i}) .Navlink {
        color: white;
        opacity: 1 !important;
        transform: scale(1.5) !important;
      }
      .user_aside nav li:hover:nth-child(#{$i}) .active {
        color: white;
        opacity: 1 !important;
        transform: scale(1.9) !important;
      }
    }

    #ombreblock {
      display: block;
    }

    #fadeIn {
      display: block;
      // animation: fadeInLeft;
      animation-duration: 300ms;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-delay: 100ms;
    }
    #fadeOut {
      display: block;
      animation: fadeOutLeft;
      animation-duration: 300ms;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-delay: 100ms;
    }

    .user_aside nav:hover svg {
      transform: scale(1.3);
    }

    @keyframes fadeInLeft {
      from {
        opacity: 0;
        display: none;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }

      to {
        opacity: 1;
        // display: block;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }

    @keyframes fadeOutLeft {
      from {
        opacity: 1;
        display: block;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }

      to {
        opacity: 0;
        display: none;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }

    /* 
Debut du Srolling
*/

    .Srolling {
      width: calc(100vw - 100px);
      height: calc(200vh - 80px);
      background-color: transparent;
      margin-top: 52px;
      margin-left: 100px;
      color: white;
      display: flex;
      align-items: center;
      flex-direction: column;
      overflow-x: hidden;
    }

    .slider {
      width: 450vw;
      height: 350px;
      margin-top: 10px;
      // background-color:red;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
        rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    }

    .slider div {
      width: 80vw;
      height: 350px;
      display: block;
      border-radius: 4px;
      cursor: pointer;
      position: relative;
    }

    @for $i from 1 through 4 {
      .slider img:hover:nth-child(#{$i}) {
        padding: 0;
        outline: 2px solid;
        transition-duration: 200ms;
      }
    }

    .slider img {
      width: 100%;
      height: 100%;
      padding: 4px;
    }

    .slider button {
      opacity: 0;
      height: 100%;
      width: 5vw;
      z-index: 1;
    }

    .slider button:hover {
      opacity: 1;
      transition: opacity 0.2s ease 0s;
    }
    .slick-dots li button {
      opacity: 1;
    }

    .slider .slick-dots li button:before {
      font-size: 10px;
      color: rgb(150, 158, 171);
      margin-top: 20px;
    }

    .slider li.slick-active button:before {
      color: white;
    }

    .slider .slick-list {
      overflow: initial;
    }
    .slider .slick-prev {
      left: -75px;
    }

    .slider .slick-next {
      right: -75px;
    }

    /* 
Debut du Viewers
*/

    .Viewers {
      width: 85vw;
      height: 120px;
      margin-top: 30px;
      padding: 30px 0px 26px;
      display: grid;
      grid-gap: 25px;
      gap: 25px;
      grid-template-columns: repeat(5, minmax(0, 1fr));
      // background-color: #e5e7eb;
    }

    .Viewers div {
      border-radius: 10px;
      box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
        rgb(0 0 0 / 73%) 0px 16px 10px -10px;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
      border: 3px solid rgba(249, 249, 249, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      
    }

    .Viewers img {
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .Viewers video {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      opacity: 0;
      z-index: 0;
    }


    .Viewers div:hover  {
      box-shadow: rgb(0 0 0 / 80%) 0px 40px 58px -16px,
      rgb(0 0 0 / 72%) 0px 30px 22px -10px;

    transform: scale(1.05);
    border-color: rgba(249, 249, 249, 0.8);

  }


  .Viewers div:hover video {
    opacity: 1;
}
}
}
